.signin {
    background-color: #f1b6b6;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
  }
  
  .login {
    position: relative;
    height: 560px;
    width: 405px;
    margin: 30px auto;
    padding: 60px 60px;
    background-size: cover;
    background: #fcfcfc;
    box-shadow: 0px 4px 10px rgba(19, 46, 80, 0.18);
    border-radius: 12px;
    .logo {
      position: absolute;
      width: 156px;
      height: 47.89px;
      left: 112px;
      top: 61px;
    }
  
    form {
      padding-top: 100px;
      margin: 15px auto;
  
      span {
        text-transform: uppercase;
        font-size: 12px;
        display: inline-block;
        position: relative;
        margin-bottom: 9px;
        transition: all 0.5s ease-in-out;
        color: rgb(25, 113, 217);
        font-family: "Readex Pro";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        span:first-child {
          top: 68px;
        }
        span,
        .custom_checkbox {
          margin-left: 20px;
        }
      }
    }
  
    h2 {
      padding-left: 12px;
      font-size: 22px;
      text-transform: uppercase;
      padding-bottom: 5px;
      letter-spacing: 2px;
      display: inline-block;
      font-weight: 100;
    }
  
    h2:first-child {
      padding-left: 0px;
    }
  
    input[type="text"],
    input[type="password"] {
      font-family: "Montserrat", sans-serif;
      //color: #fff;
    }
  
    input {
      display: inline-block;
      padding-top: 20px;
      font-size: 14px;
      margin-bottom: 30px;
    }
  
    label {
      display: inline-block;
      padding-top: 10px;
      padding-left: 5px;
      list-style: none;
      cursor: pointer;
      font-family: "Readex Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 22px;
      margin: 5px 20px 0 70px;
      color: rgb(15, 95, 192);
      //opacity: 0.4;
    }
  
    hr {
      border: 1px solid rgba(255, 255, 255, 0.1);
      top: 85px;
      position: relative;
    }
  
    a {
      text-align: center;
      display: block;
      top: 120px;
      position: relative;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.2);
    }
  }
  
  /*.active {
    border-bottom: 2px solid #1161ed;
  }
  
  .nonactive {
    color: rgba(255, 255, 255, 0.2);
  }*/
  
  .text {
    border: none;
    width: 89%;
    padding: 10px 20px;
    display: flex;
    height: 15px;
    border-radius: 20px;
    background: #ededed;
    border-radius: 18px;
    overflow: hidden;
    //margin-top: 15px;
    transition: all 0.5s ease-in-out;
  }
  
  /*.text:focus {
    outline: 0;
    border: 2px solid rgba(51, 49, 49, 0.5);
    border-radius: 20px;
    //box-shadow: 15px;
    background: rgba(0, 0, 0, 0);
  }*/
  
  /*.text:focus + span {
    opacity: 0.6;
  }*/
  
//   .custom_checkbox {
//     -webkit-appearance: none;
//     background-color: rgba(255, 255, 255, 0.1);
//     padding: 8px;
//     border-radius: 2px;
//     display: inline-block;
//     position: relative;
//     top: 6px;
//   }
  
  .custom_checkbox:checked {
    background-color: rgba(17, 97, 237, 1);
  }
  
  .custom_checkbox:checked:after {
    content: "\2714";
    font-size: 10px;
    position: absolute;
    top: 1px;
    left: 4px;
    //color: #fff;
  }
  
  .custom_checkbox:focus {
    outline: none;
  }
  
  .signin {
    font-family: "Readex Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    background: linear-gradient(180deg, #1971d9 0%, #043a7a 100%);
    width: 100%;
    padding: 10px 20px;
    display: block;
    height: 39px;
    border-radius: 20px;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;
  }
  