.header-container {
    position: absolute;
    width: 100%;
    height: 5.25rem;
    margin-left: -6.4em;
    padding-right: 61.8rem;
    left: 26.5rem;
    top: 0;
    background: rgb(255, 255, 255);

    .header-content {
        position: absolute;
        margin: 1.813rem 2rem;

        .text {
            left: 2rem;
            right: 26.39%;
            top: 1.8rem;
            bottom: 2.313rem;

            font-family: "Exo 2";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            color: #1C1D22;

            span {
                color: #fab81d;
            }
        }

        .header-icons {
            //reduce space between search and calendar
            width: 16rem;
            cursor: pointer;
            height: 2rem;
            display: flex;
            padding-left: 0.5rem;
            justify-content: space-evenly;
            margin-top: -1.2rem;
            margin-left: 38rem;

            span {
                width: 93px;
                height: 16px;
                margin-left: -22px;
                top: 39px;

                font-family: "Exo 2";
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                color: rgba(28, 29, 34, 0.5);
            }
        }

        .profile {
            height: 1.8rem;
            width: 1.8rem;
            background-image: url(../../assets/Image.png);
            border-radius: 50%;
            margin-left: 53.5rem;
            margin-top: -2.3rem;
            cursor: pointer;
        }
    }
}

.subheader {
    position: absolute;
    width: 56.8rem;
    height: 3rem;
    margin: 0 22.5rem;
    top: 5.2rem;

    // background-color: rgb(99, 73, 73);
    .right {
        position: absolute;
        width: 16.18rem;
        height: 2.25rem;
        left: 2rem;
        top: 0.875rem;
        justify-content: space-evenly;
        // padding-left: 2rem;

        .board {
            display: flex;
            flex-direction: column;

            .rec {

                //make the two object as one for a better hover effect
                cursor: pointer;
                background-color: #1C1D22;

                .one {
                    position: absolute;
                    height: 0.4rem;
                    width: 0.8rem;
                    top: 0.15rem;
                    left: -1rem;
                    border: 2px solid #1C1D22;

                    &:hover {
                        border: 2px solid #838383;
                    }
                }

                .two {
                    position: absolute;
                    height: 0.35rem;
                    width: 0.8rem;
                    margin-top: 0.7rem;
                    left: -1rem;
                    border: 2px solid #1C1D22;

                    &:hover {
                        border: 2px solid #838383;
                    }
                }

            }

            img {
                // adjust img to be vidible
                position: absolute;
                left: -1rem;
                top: 0.1rem;
                // display: inline;
                width: 0.856rem;
                padding-left: 0.3rem;
                height: 0.93rem;
                // border: 50%;
                // background-color: #ffffff;
                background-image: url(./1.png);
            }

            h4 {
                left: 30.69%;
                right: 64%;
                top: 5.67%;
                bottom: 87.77%;

                font-family: "Exo 2";
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                cursor: pointer;
                color: #1C1D22;

                &:hover {
                    color: rgba(58, 57, 57, 0.5);
                }
            }
        }

        .add-view {
            // position: absolute;
            margin-left: 6.9rem;
            margin-top: -1rem;
            display: flex;
            flex-direction: column;

            .circle {
                // position: absolute;
                width: 1.3rem;
                height: 1.3rem;
                top: 1.2rem;
                left: 2.78rem;
                border-radius: 50%;
                // cursor: pointer;
                background: rgba(28, 29, 34, 0.08);


                span {
                    position: absolute;
                    left: 7.13rem;
                    top: 0.05rem;
                    opacity: 0.4;
                }
            }

            h3 {
                position: relative;
                left: 2rem;
                top: -1.2rem;
                bottom: 87.77%;
                cursor: pointer;

                font-family: "Exo 2";
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                color: rgb(0, 0, 0);

                &:hover {
                    color: rgba(58, 57, 57, 0.5);
                }
            }
        }
    }

    .left {
        position: absolute;
        width: 17.5rem;
        height: 2.75rem;
        left: 38rem;

        padding-left: 0.5rem;
        margin-top: -0.2rem;
        //  background-color: #fab81d;

        h5 {
            margin-top: -1rem;
            margin-left: 2rem;

            span {
                font-family: "Exo 2";
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                cursor: pointer;
                color: rgba(47, 47, 48, 0.5);

                &:hover{
                    //make the hover color brighter
                    color: rgba(0, 0, 0, 0.5);
                }
            }
        }

        .bold {
            cursor: pointer;
            margin-top: 1.3rem;
            margin-left: -1.5rem;

            &:hover {
                color: rgba(58, 57, 57, 0.5);
            }
        }

        .dots-container {
            // box-sizing: border-box;

            position: absolute;
            width: 26px;
            height: 26px;
            left: 5.5rem;
            top: 17px;

            background: #ffffff;
            border: 2px solid rgba(28, 29, 34, 0.1);
            border-radius: 14px;
        }

        p {
            position: absolute;
            margin-left: 5.33rem;
            top: 1.018rem;
            cursor: pointer;
        }

        button {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 12px 24px;
            gap: 10px;

            position: absolute;
            width: 140px;
            height: 38px;
            left: 8rem;
            border: none;
            top: 0.5rem;
            background: #1C1D22;
            border-radius: 19px;

            &:hover{
                background: #000000;
            }

            span {
                width: 92px;
                height: 14px;
                cursor: pointer;

                font-family: "Exo 2";
                font-style: normal;
                font-weight: 600;
                font-size: 13.8px;
                line-height: 100%;
                color: #FFFFFF;
                flex: none;
                order: 0;
                flex-grow: 0;

                &:hover{
                    color: #535353;
                }
            }
        }
    }

    .line {
        position: absolute;
        width: 53.5rem;
        height: 0px;
        left: 1rem;
        top: 3rem;
        border: 2px solid rgba(28, 29, 34, 0.08);
    }

}